name: CI Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Create .env
        run: cp .env.example .env

      - name: Build
        run: docker compose -f docker-compose.yml up -d --build --force-recreate

      - name: Test 
        run: pip install python-dotenv requests && python3 test.py

      - name: Clean up
        if: always()
        run: docker compose down